.grid {
  width: 600px;
  height: 500px;
  background-size: 50px 50px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  border: 1px solid grey;
}
